.login {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: #0b0b27;
  background-image: url(../../images/bg-space.png);
}

.login-svg-wrapper {
  background-image: url(../../images/bg-galaxy-min.svg);
  height: 100%;
  background-position: top right;
  background-size: cover;
}

.login-content {
  height: 100%;
}

.login-home-navlink {
  color: #fff;
}

.login-al-aqsa-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
}

.login-al-aqsa-wrapper img.login-al-aqsa {
  max-width: 100%;
  max-height: 100%;
}

.login-al-aqsa-map {
  position: absolute;
  left: 52px;
  bottom: 50px;
  transform: scale(0.9);
}

.login-al-aqsa-map img {
  opacity: 0.15;
}

.login-logo,
.login-lang-sel {
  position: fixed;
  background-color: #dedede;
  color: #202020;
  font-weight: 500;
}

.login-logo {
  width: 115px;
  height: 115px;
  left: 4rem;
  top: 4rem;
}

.login-lang-sel {
  width: 100px;
  height: 45px;
  right: 5rem;
  bottom: 4rem;
  flex-direction: row-reverse;
  border-radius: 4px;
  z-index: 1000000;
  cursor: pointer;
}

.login-lang-sel-text {
  padding: 0 10px;
}

#login-lang-sel-tooltip,
#login-form-submit-btn {
  font-family: "GHAITHSANS", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: #fff;
}

#login-lang-sel-tooltip {
  width: 140px;
  opacity: 1;
}

.login-form-wrapper {
  width: 450px;
  padding: 40px 30px 85px 30px;
  border-radius: 8px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.05);
}

.login-form-label {
  color: #202020;
  font-size: 24px;
  font-weight: bold;
  padding: 0.75rem 0 1.5rem 0;
}

.login-form-input-wrapper {
  height: 56px;
  margin-bottom: 1.5rem;
  position: relative;
}

.login-form-input-label {
  position: absolute;
  color: #232323;
  padding-right: 10px;
  padding-top: 3px;
}

.login-form-input-wrapper input {
  width: 100%;
  height: 100%;
  background-color: #ececec;
  color: #202020;
  border: 0;
  outline: 0;
  padding: 22px 12px 4px 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.login-form-input-wrapper input.unempty {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.login-form-input-wrapper input::-webkit-input-placeholder {
  color: #8f8f8f;
  opacity: 1 !important; /* Chrome */
}

.login-form-input-wrapper input::placeholder {
  color: #8f8f8f;
  opacity: 1 !important; /* Firefox */
}

.login-form-input-wrapper input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #8f8f8f;
  opacity: 1 !important;
}

.login-form-submit-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  left: 8px;
  top: 8px;
  cursor: pointer;
}

.eye-icon path {
  transform: translate(8px, 6px);
}

.login-err-msg {
  width: 100%;
  margin-top: 16px;
  font-size: 14px;
  text-align: right;
  color: #f14668;
  position: absolute;
}

.login-err-msg-email {
  color: #3169f7;
}

/* Post Sign In Splash Animation */

.splash {
  display: block;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 0.8s ease;
  border-radius: 50%;
  background-color: #00d1b2;
  transition-delay: 0.25s;
}

.expanded {
  animation: expand 2s ease-in-out;
  animation-delay: 1s;
}

@keyframes expand {
  0% {
    height: 0;
    width: 0;
    padding-bottom: 0;
    background-color: #00d1b2;
  }
  100% {
    height: auto;
    width: 1000%;
    padding-bottom: 1000%;
    background-color: #0b0b27;
  }
}

@-o-keyframes expand {
  0% {
    height: 0;
    width: 0;
    padding-bottom: 0;
    background-color: #00d1b2;
  }
  100% {
    height: auto;
    width: 1000%;
    padding-bottom: 1000%;
    background-color: #0b0b27;
  }
}

@-moz-keyframes expand {
  0% {
    height: 0;
    width: 0;
    padding-bottom: 0;
    background-color: #00d1b2;
  }
  100% {
    height: auto;
    width: 1000%;
    padding-bottom: 1000%;
    background-color: #0b0b27;
  }
}

@-webkit-keyframes expand {
  0% {
    height: 0;
    width: 0;
    padding-bottom: 0;
    background-color: #00d1b2;
  }
  100% {
    height: auto;
    width: 1000%;
    padding-bottom: 1000%;
    background-color: #0b0b27;
  }
}
